<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalised Skill</title>
    <style>
        .logo{
            display: flex;
        }
        img{
            width: 5%;
        }
        h2{
            display: flex;
            align-items: center;
            margin: -10px 20px -10px 10px;
            color: indigo;
        }
        .form{
            display: flex;
            justify-content: flex-end;
            
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="ps logo.png" alt="Logo">
        <h2>PS Portal</h2>
    </div>
    <div class="form">
        <label for="mail">MAIL ID</label>
        <input type="text" name="mail" id="mail" placeholder="Enter your mail-id"/></div>
    <div class="form">
        <label for="MOT">PASSWORD</label>
        <input type="password" name="password" id="password" placeholder="Enter the password"/></div>
    <div class="form">
        <button type="submit">Sign In</button></div>
    <div class="form">
        <button type="sign_in">Sign In with Google</button></div>
    </div>
</body>
</html>
